{% embed 'totem_submodules::totem.module.form/partials/form-group.twig' %}

    {% if label is defined %}
        {% block label %}
            <label>{{ label }}</label>
        {% endblock %}
    {% endif %}

    {% if checkboxes is not empty %}
        {% block field %}

            {% for checkbox in checkboxes %}

                {# Disable horizontal layout for nested checkbox #}
                {% set checkbox = checkbox|merge({ horizontal_layout : false }) %}

                {% include 'totem_submodules::totem.module.form/partials/checkbox.twig' with checkbox %}

            {% endfor %}

        {% endblock %}
    {% endif %}

{% endembed %}