{#
    totem.module.form

    This file is used to generate a single view for `totem.module.form`.
    Sources should be defined within the module's view.

    Do not use this file for defining core html for this module.
    You should define your code within `totem.module.form/partials`.
#}

{% extends "totem::src/resources/templates/module/module.twig" %}

{% block module %}
    <h1>Form module</h1>

    {% include "totem_submodules::totem.module.form/partials/input.twig" with {
        label: "Input",
        input_attributes: {
            placeholder: "Example placeholder"
        }
    } %}

    {% include "totem_submodules::totem.module.form/partials/input.twig" with {
        label: "Password",
        input_attributes: {
            type: "password",
            placeholder: "Example placeholder"
        },
        horizontal_layout: true
    } %}

    {% include "totem_submodules::totem.module.form/partials/textarea.twig" with {
        label: "Textarea",
        input_attributes: {
            placeholder: "Example placeholder",
            rows: 12
        },
        horizontal_layout: true
    } %}

    {% include "totem_submodules::totem.module.form/partials/radio.twig" with {
        label: "Radio",
        input_attributes: {
            name: "radio"
        }
    } %}

    {% include "totem_submodules::totem.module.form/partials/radio-group.twig" with {
        label: 'Radio group label',
        horizontal_layout: true,
        radios: [
            {
                label: "Radio group 1",
                input_attributes: {
                    name: "radio-group"
                }
            },
            {
                label: "Radio group 2",
                input_attributes: {
                    name: "radio-group"
                }
            }
        ]
    } %}

    {% include "totem_submodules::totem.module.form/partials/checkbox.twig" with {
        label: "Radio",
        input_attributes: {
            name: "checkbox"
        }
    } %}

    {% include "totem_submodules::totem.module.form/partials/checkbox-group.twig" with {
        label: 'Checkbox group label',
        checkboxes: [
            {
                label: "Checkbox group 1",
                input_attributes: {
                    name: "checkbox-group"
                }
            },
            {
                label: "Checkbox group 2",
                input_attributes: {
                    name: "checkbox-group"
                }
            }
        ]
    } %}

    {% include "totem_submodules::totem.module.form/partials/select.twig" with {
        label: 'Select',
        select_attributes: {
            name: 'select',
            id: 'select'
        },
        options: [
            {
                title: 'Option 1',
                option_attributes: {
                    value: 0
                }
            },
            {
                title: 'Option 2',
                option_attributes: {
                    value: 1
                }
            },
            {
                title: 'Option 3',
                option_attributes: {
                    value: 1
                }
            }
        ]
    } %}


{% endblock %}

{% block head %}

    {% include "totem_submodules::totem.module.loadcss/partials/loadcss.twig" with {
        stylesheets: [
            "/resources/templates/default/stylesheets/default.css",
            "stylesheets/totem.module.form.css"
        ]
    } %}

{% endblock %}

{% block foot %}
    <script src="javascripts/totem.module.form.js"></script>
{% endblock %}