{#
    totem.module.form

    This file is used to generate a single view for `totem.module.form`.
    Sources should be defined within the module's view.

    Do not use this file for defining core html for this module.
    You should define your code within `totem.module.form/partials`.
#}

{% extends "totem_submodules::totem.template.module/index.twig" %}

{% block module %}
    <h1>Form module</h1>

    {% include "totem_submodules::totem.module.form/partials/fields/input.twig" with {
        label: "Input",
        input_attributes: {
            placeholder: "Example placeholder"
        },
        validation: {
            message: false
        },
        horizontal_layout: false
    } %}

    {% include "totem_submodules::totem.module.form/partials/fields/input.twig" with {
        label: "Password",
        input_attributes: {
            type: "password",
            placeholder: "Example placeholder"
        },
        validation: {
            message: 'jawel'
        },
        horizontal_layout: true
    } %}

    {% include "totem_submodules::totem.module.form/partials/fields/textarea.twig" with {
        label: "Textarea",
        input_attributes: {
            placeholder: "Example placeholder",
            rows: 12
        },
        validation: {
            message: 'jawel'
        },
        horizontal_layout: true
    } %}

    {% include "totem_submodules::totem.module.form/partials/fields/radio.twig" with {
        label: "Radio",
        input_attributes: {
            name: "radio"
        },
        validation: {
            message: 'jawel'
        },
    } %}

    {% include "totem_submodules::totem.module.form/partials/fields/radio-group.twig" with {
        label: 'Radio group label',
        horizontal_layout: true,
        radios: [
            {
                label: "Radio group 1",
                input_attributes: {
                    name: "radio-group"
                },
                validation: {
                    message: 'jawel'
                },
            },
            {
                label: "Radio group 2",
                input_attributes: {
                    name: "radio-group"
                },
                validation: {
                    message: 'jawel 2'
                },
            }
        ]
    } %}

    {% include "totem_submodules::totem.module.form/partials/fields/checkbox.twig" with {
        label: "Checkbox",
        input_attributes: {
            name: "checkbox"
        }
    } %}

    {% include "totem_submodules::totem.module.form/partials/fields/checkbox-group.twig" with {
        label: 'Checkbox group label',
        horizontal_layout: true,
        checkboxes: [
            {
                label: "Checkbox group 1",
                input_attributes: {
                    name: "checkbox-group"
                },
                validation: {
                    message: 'Checkbox group error'
                }
            },
            {
                label: "Checkbox group 2",
                input_attributes: {
                    name: "checkbox-group"
                }
            }
        ]
    } %}

    {% include "totem_submodules::totem.module.form/partials/fields/select.twig" with {
        label: 'Select',
        description: 'Omschrijving',
        horizontal_layout: true,
        select_attributes: {
            name: 'select',
            id: 'select',
            class: 'unified-select'
        },
        options: [
            {
                title: 'Option 1',
                option_attributes: {
                    value: 0
                }
            },
            {
                title: 'Option 2',
                option_attributes: {
                    value: 1
                }
            },
            {
                title: 'Option 3',
                option_attributes: {
                    value: 1
                }
            }
        ]
    } %}


{% endblock %}

{% block head %}

    {% include "totem_submodules::totem.module.loadcss/partials/loadcss.twig" with {
        stylesheets: [
            "/resources/templates/default/stylesheets/default.css",
            "stylesheets/totem.module.form.css"
        ]
    } %}

{% endblock %}

{% block foot %}
    <script>{% include "totem_submodules::totem.module.top-bar/node_modules/jquery/dist/jquery.min.js" ignore missing %}</script>
    <script src="javascripts/unified-select.js"></script>
    <script>
        setUnifiedSelect({
            glyph: 'foo'
        });
    </script>
{% endblock %}