#{$form-groups} {
    position: relative;

    + #{$form-groups} {
        margin-top: box-model('spacing', 'base');

        &--compact {
            margin-top: box-model('spacing', 'small');
        }
    }
}

@each $form-group in $form-groups {
    @each $validation-style in $validation-styles {
        #{$form-group}--#{$validation-style} {

            #{$inputs},
            textarea {
                border-color: color($validation-style, 'base');
            }

            #{$form-messages} {
                display: block;
                color: color($validation-style, 'base');
            }

            #{$form-descriptions} {
                display: none;
            }
        }
    }
}