#{$form-groups} {
    position: relative;

    + #{$form-groups} {
        margin-top: box-model('margin', 'base');

        &--compact {
            margin-top: box-model('margin', 'small');
        }
    }
}

@each $form-group in $form-groups {
    @each $validation-type in $validation-types {
        #{$form-group}--#{$validation-type} {

            #{$inputs},
            textarea {
                border-color: color($validation-type, 'base');
            }

            #{$form-messages} {
                display: block;
                color: color($validation-type, 'base');
            }

            #{$form-descriptions} {
                display: none;
            }
        }
    }
}