.unified-select__wrapper {
    display: block;
    position: relative;
    user-select: none;

    @if input-style('default', 'margin') != false {
        margin: input-style('default', 'margin');

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.unified-select__field-wrapper {
    position: relative;
    overflow: hidden;

    @include input-styles(
        $category: 'default',
        $selectors: (
            'hover': '.js__unified-select--hover &',
            'focus': '.js__unified-select--focus &',
            'disabled': '.js__unified-select--disabled &'
        )
    );

    @if input-style('default', 'border-radius') != false {
        .js__unified-select--dropdown-active & {
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
    }

    padding-top: 0;
    padding-bottom: 0;

    @if input-style('default', 'height') != false {
        padding-right: input-style('default', 'height');
    }

    @if input-style('default', 'margin') != false {
        margin: 0;
    }

    .js__unified-select--ready & {
        cursor: pointer;
    }

    .js__unified-select--disabled & {
        cursor: not-allowed;
    }
}


.unified-select__field {
    display: table;
    width: 100%;
    height: 100%;
}

.unified-select__field-value {
    display: table-cell;
    vertical-align: middle;
    user-select: none;
}

.unified-select {
    .js__unified-select--ready & {
        cursor: default;
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 100%;
        appearance: none;
        border: 0;
        outline: 0;
        opacity: 0;
        margin: 0;
        transform: (
            translateY(-50%)
        );

        option {
            opacity: 1;
        }
    }

    .js__unified-select--ready & {
        cursor: pointer;
    }

    .js__unified-select--disabled & {
        cursor: not-allowed;
    }


    .js__unified-select--dropdown-ready & {
        top: 0;
        left: auto;
        right: 100%;
        visibility: hidden;
        pointer-events: none;
    }
}

.unified-select__glyph-wrapper {
    position: absolute;
    right: 0;
    top: 50%;
    text-align: center;
    transform: (
        translateY(-50%)
    );

    @if input-style('default', 'height') != false {
        width: input-style('default', 'height');
    }
}

.unified-select__glyph {
    display: inline-block;
    vertical-align: middle;

    $this: &;

    @at-root svg#{$this} {

        @if input-style('default', 'height') != false {
            max-width: input-style('default', 'height');
            max-height: input-style('default', 'height');
        }
    }
}

.unified-select__dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;

    .js__unified-select--dropdown-ready & {
        display: none;
    }

    .js__unified-select--dropdown-active & {
        display: block;
    }
}

.unified-select__dropdown__panel {
    position: relative;
    background-color: color('body', 'dark');
}

.unified-select__dropdown__options {
    display: block;
}

.unified-select__dropdown__option {
    display: block;
    cursor: pointer;
    user-select: none;

    @if input-style('default', 'padding') != false {
        padding: input-style('default', 'padding');
    }

    @if input-style('default', 'border') != false {
        border-top: input-style('default', 'border');

        &:first-child {
            border-top: 0;
        }
    }

    &.js__unified-select__dropdown__option--selected {
        cursor: default;
    }

    &.js__unified-select__dropdown__option--disabled {
        cursor: not-allowed;

        @if input-style('default', 'opacity--disabled') != false {
            opacity: input-style('default', 'opacity--disabled');
        }
    }
}