$form-elements: (
    'legends' : (
        'legend',
        '.legend'
    ),
    'labels' : (
        'label',
        '.label'
    ),
    'inputs' : (
        '.input',
        'input[type="email"]',
        'input[type="number"]',
        'input[type="password"]',
        'input[type="search"]',
        'input[type="tel"]',
        'input[type="text"]',
        'input[type="url"]'
    ),
    'form-groups' : (
        '.form-group'
    ),
    'form-messages': (
        '.form-message'
    )
) !default;

$legends: form-element('legends') !default;
$labels: form-element('labels') !default;
$inputs: form-element('inputs') !default;
$form-groups: form-element('form-groups') !default;
$form-messages: form-element('form-messages') !default;