.form-description {
    margin-top: box-model('margin', 'small');
    margin-bottom: box-model('margin', 'small');

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}