#{$inputs},
textarea {
    @include input-styles('default');
}

#{$inputs} {
    padding-top: 0;
    padding-bottom: 0;
}

textarea {
    height: auto;
}

select {
    @if input-style('default', 'margin') != false {
        margin: input-style('default', 'margin');

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

input {
    &[type="password"] {
        font-family: sans-serif; // Reset password bullets to system's default to prevent missing glyphs.

        @if input-style('default', 'font-family') != false {
            &::-webkit-input-placeholder {
                font-family: input-style('default', 'font-family');
            }

            &::-moz-placeholder {
                font-family: input-style('default', 'font-family');
            }

            &:-ms-input-placeholder {
                font-family: input-style('default', 'font-family');
            }
        }
    }
}

@if function-exists('extend-module') {
     @if extend-module($input-styles) {
        @each $list in extend-module($input-styles) {

            $name: map-get($list, 'name');
            $selector: map-get($list, 'selector');

            #{$inputs},
            textarea {
                &#{$selector} {
                    @include input-styles($name);
                }
            }

            #{$inputs} {
                &#{$selector} {
                    padding-top: 0;
                    padding-bottom: 0;
                }
            }

            textarea {
                &#{$selector} {
                    height: auto;
                }
            }
        }
    }
}